<app-front-nav-bar></app-front-nav-bar>
<main>

    <section class="section section-lg pt-lg-0 mt--200">
            
    <div id="intro" class="bg-image vh-100" style=" background-image: url('assets/assets1/images/home.jpg');">
      
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-3 mt-3 mb-3"  *ngFor='let d of topheadingDisplay' style="padding-top: 10%;" >
                <div class="box text-center bg-white">
               <img src="{{d.urlToImage}}" width="100%">
                <h5 class="mt-3 mb-3">{{d.title}}</h5>
                <p class="font-family:">{{d.content}}</p>
                <a href="{{d.url}}" class="btn btn-dark btn-sm mt-2">Read more</a>
                </div>


                </div>
              </div>
              
             
            </div>
          </div>
        </div>
        
      </div>
    </section>
  
  
    
    
  </main>
    